body{
      padding: 0;
      margin: 0;
}
header{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      background-color: black;
}
.logo_bg{
      align-items: center;
      display: flex;
    
      width: 80%;
      height:120px ;
      
}
.logo img{
      width: 80px;
      object-fit: cover;

}
.banner img{
      height: 120px;
      width: 500px;
      object-fit: cover;
      margin-left: 400px;
}

nav{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
}

.menu{
      width: 80%;
}
nav ul{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      list-style: none;
}
nav ul li{
     margin: 13px 15px;
} 
nav ul li a{
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: white;
      font-family: 'Koulen', Arial, Helvetica, sans-serif;
}
.fa-house{
      padding: 10px 10px;
      font-size: 20px;
      /*background-color: #09080824;*/
}

/*//section */
.section1_bg{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      
}
.section1{
      width: 80%;
      height: 500px;
      display: flex;
      justify-content: space-between;
    
}
/*//left*/
.section_left_bg{
      width: 70%;
}
.section_left_bg .section_left_bg_top{
      height: 50%;
      display: flex;
      justify-content: space-between;
}
/*top */
.section_left_bg .section_left_bg_top .left{
      width: 60%;
}
.section_left_bg .section_left_bg_top .left img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.section_left_bg .section_left_bg_top .right{
      width: 40%;
      
}

.section_left_bg .section_left_bg_top .right img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
/*//bottom */
.section_left_bg .section_left_bg_buttom{
      height: 50%;
      display: flex;
      justify-content: space-between;
   
}
.section_left_bg .section_left_bg_buttom .left{
      width: 60%;
}
.section_left_bg .section_left_bg_buttom .left img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.section_left_bg .section_left_bg_buttom .right{
      width: 40%;
}
.section_left_bg .section_left_bg_buttom .right img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/*//right*/
.section_right_bg{
      width: 29%;
}

.section_right_bg .section_right_bg_top{
      width: 100%;
      height: 49%;
}
.section_right_bg .section_right_bg_top img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.section_right_bg .section_right_bg_buttom{
      width: 100%;
      height: 49%;
      margin-top: 3%;
      
}
.section_right_bg .section_right_bg_buttom img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/*//section 2*/
.section2_bg{
      margin-top: 50px;
      display: flex;
      justify-content: center;  
      margin-bottom: 50px;
      
}
.section2_bg .section2{
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      width: 80%; 
      background-color: white;
      box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
     
}
.section2_bg .section2 .section2_left{
      width: 30%;
      height: 100%;
      background-color: black;
      
}
.section2_bg .section2 .section2_left .section2_left_top{
      background-color: chartreuse;
      height: 60%;
}
.section2_bg .section2 .section2_left .section2_left_top img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.section2_bg .section2 .section2_left .section2_left_buttom{
      background-color: #FA5480;
      color: white;
      height: 39%;
      margin-top: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
     
}
.section2_bg .section2 .section2_left .section2_left_buttom .text_bg{
      width: 90%;
}
.section2_bg .section2 .section2_left .section2_left_buttom b{
      font-size: 20px;
      font-family: "Khmer", sans-serif;
}

/*//right */
.section2_bg .section2 .section2_right{
      width: 68%;
}
.section2_bg .section2 .section2_right .section2_right_top{
      height: 50%;
      display: flex;
     
}
.section2_bg .section2 .section2_right .section2_right_top .section2_right_top_box1{
    margin: 0px 0px 0px 10px;
      width: 25%;
      background-color: black;
}
.section2_bg .section2 .section2_right .section2_right_top
.section2_right_top_box1 .section2_right_top_box1_img{
      height: 50%;
     
}
.section2_bg .section2 .section2_right .section2_right_top
.section2_right_top_box1 .section2_right_top_box1_img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.section2_bg .section2 .section2_right .section2_right_top .section2_right_top_box1 .section2_right_top_box1_text{
      height: 50%;
     background-color: white;
     font-family: "Khmer", sans-serif;
}
            /* dol nis */
            
.section2_bg .section2 .section2_right 
.section2_right_buttom{
      height: 50%;
      display: flex;
}
.section2_bg .section2 .section2_right .section2_right_buttom 
.section2_right_buttom_box1{
      width: 25%;
      margin: 0px 0px 0px 10px;
}
.section2_bg .section2 .section2_right .section2_right_buttom 
.section2_right_buttom_box1 
.section2_right_top_box1_img{
      height: 50%;
}
.section2_bg .section2 .section2_right .section2_right_buttom 
.section2_right_buttom_box1 
.section2_right_top_box1_img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/*// fotter */

footer{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      padding-top: 25px;
      padding-bottom: 30px;
     
}
.footer_bg{
      display: flex;
      height: 300px;
      width: 80%;
}
.footer_bg .footer_logo{
      font-family: "Khmer", sans-serif;
      color: white;
      width: 30%;
}
.footer_bg .footer_logo .log_img img{
      width: 150px;
      object-fit: cover;
}
.footer_bg .footer_about{
      color: white;
      width: 40%;
     
}
.footer_about .text{
      font-family: "Khmer", sans-serif;
}
.footer_about .text b{
      font-size: 25px;
    
      
}

.footer_about .logo img{
      width: 40px;
      object-fit: cover;

}
.footer_bg .footer_socal{
      font-weight: bold;
      width: 30%;
      color: white;
      font-family: "Khmer", sans-serif;

}
.footer_bg .footer_socal .text{
    
}
.footer_bg .footer_socal .text{
      font-size: 25px;
}
.footer_bg .footer_socal .icon{
      margin: 30px 0px;
      font-size: 25px;
}
.footer_bg .footer_socal  .contact small{
      font-size: 15px;
}